# Security & Secret Keys
APP_SECRET_KEY=your-app-secret-key
EXCEL_ADMIN_PASSWORD=your-excel-admin-password

# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-smtp-email@example.com
SMTP_PASSWORD=your-smtp-app-password

# Admin Emails (comma-separated list)
ADMIN_EMAILS=admin1@mehtagroup.com,admin2@mehtagroup.com

# Resolving Engineers Emails
RE1_EMAIL=re1@mehtagroup.com
RE2_EMAIL=re2@mehtagroup.com
RE3_EMAIL=re3@mehtagroup.com
